/* for samsung screens and other android phones like  s7 s8 a51 */

@media only screen and (min-width: 360px) {


.titles h1{
    margin:20px auto;
    padding:10px;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.504);

    border:4px solid white;
    width:300px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}
.titles2{
margin:100px auto;
position:relative;
font-size: 15px;
color: white;
opacity:0.6;
letter-spacing: 10px;
width:200px;
max-width:200px
}
.face{
    margin-top:100px
}
}
@media only screen and (min-width: 850px) {
    .titles h1{
        margin:20px auto;
        padding:10px;
        font-size: 20px;
        color:rgba(0, 0, 0, 0.504);
        border:1px solid white;
        width:700px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.418);
        border-radius: 10px;
    }
    .face{
        margin-top:100px;
        transform:scale(0.8)
    }
}