
.card-container{
    margin:160px auto
}
.add-new-jokes{
    margin-top: 50px;
    position:relative;
    top:250px;
    opacity:0;
    display:none;
    transition:1s

}
.loading{
    height:80vh;
    width:100%;
    margin:600px auto
}