
/* for samsung screens and other android phones like  s7 s8 a51 */

@media only screen and (min-width: 360px) {
   
    .favourite-alert{
        width:100%;
        background:black;
        color:white;
        font-size:20px;
        position:absolute;
        height:50%;
        align-content: center;
        transition:1s;
        transform: translate(-50%,100%);
        left:50%;
        top:100%
    }
    .shine{
        background-color: rgba(251, 251, 251, 0.32);
        width:100%;
        height:80px;
        position:absolute;
        transform:skewY(30deg);
        animation:moveShine 6s infinite  ease forwards
    }
    .hint{
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.093));
        background: linear-gradient(0deg,white, rgba(255, 255, 255, 0.485));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        transform: translate(-50%,0%);
        width:100%;
        max-width: 100%;
        left:50%;
        animation: textAnim 2.5s infinite ease forwards;
        transition:1s;
    }
   
    .perspective-div{
        perspective:1000px;
        position:relative
    }
    
    .card-container {
    transition: 1s;
    position:relative;
    border:rgb(110, 110, 110) solid 10px;
    border-radius: 20px;
    width:300px;
    height:65vh;
    margin:20px auto;
    box-shadow:10px 120px 5px rgba(0, 0, 0, 0.542);
    transform: rotateY(170deg)rotateX(0deg)scale(0.5);
    filter:blur(10);
    background: rgb(72, 73, 72);
    color:rgb(72, 73, 72);
    overflow: hidden;
    
    }
 
    .control-btns{
        display: flex;
        flex-direction: row;
        position: absolute;
        left:50%;
        top:47%;
        transform: translate(-50%,60%)scale(0);
        gap:15px;
        transition:0.4s
        
    
    }
    .reveal-btn{
    position: relative;
    border: 3px black solid ;
    border-radius: 100px;
    color:black;
    width:50px;
    height:50px;
    background-color:rgb(109, 109, 109);
    box-shadow:3px 2px 3px black;
    cursor:pointer;
    transition:0.4s;
    background:none;
    user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    
    
    
    }
    .next-joke-btn{
        border: 3px black solid ;
        border-radius: 100px;
        color:black;
        width:50px;
        height:50px;
        background-color:rgb(109, 109, 109);
        box-shadow:3px 2px 3px black ;
        cursor:pointer;
        transition:0.4s;
        background:none;
    
    
    }
    
    .eye-icon{
        position:absolute;
        transform: translate(-50%,-50%);
        top:50%;
    }
    .punch-line-box{
        position:absolute;
        transform: translate(0%,100%);
        background-color: rgb(0, 255, 225);
        height:270px;
        max-height:270px;
        min-height:250px;
        transform: 0.3s;
        opacity:0;
        top:100%;
        width:300px;
        min-width:300px
    }
    .punch-line{
        margin:70px auto;
        padding:10px;
        filter:blur(7px);
        transition:0.5s;
        font-size:19px
    }
    .setup{
        margin:30px auto;
        padding:10px;
        font-size:24px
    
    
    }
    @keyframes textAnim {
        0%{opacity: 0;letter-spacing: 3px;}
        50%{opacity: 1;letter-spacing: 0px;}
        100%{opacity: 0;letter-spacing: 3px;}
        
    }
    @keyframes moveShine {
        0%{top:-300px}
        50%{top:600px}
        100%{top:-300px}
        
    }
    @keyframes moveCard {
        0%{    transform: rotateY(170deg)scale(0.5);
        }
        50%{    transform: rotateY(140deg)scale(0.5);
        }
        100%{    transform: rotateY(170deg)scale(0.5);
        }
        
    }

    

    /* for iphone screens  phones like  iphone6 iphone 7 iphone 8 */

@media only screen and (min-width: 375px) {
    .hint{
     
        transform: translate(-50%,-15%);
        top:15%
       
    }
    .card-container {
        
        width:320px;
      
        top:-60px
        
        }
        .punch-line-box{
            position:absolute;
            transform: translate(0%,110%);
       
            top:110%;
            width:320px;
            min-width:320px
        }
        .control-btns{
            left:50%;
            top:53%;
            transform: translate(-50%,60%)scale(0);
            
        
        }
        .punch-line{
            font-size:25px
        }
    
}

}


   /* for samsung and android  screens  phones like  s8+ s9+ s10+ s20+ s21+ s22+  */

   @media only screen and (min-width: 411px) {

    .card-container {
        
        width:300px;
        top:0px
        
        }
        .punch-line-box{
            position:absolute;
            transform: translate(0%,100%);
       
            top:100%;
            width:320px;
            min-width:320px;
            
            height:300px;
            max-height:300px;
            min-height:300px;
        }
           
         


   }
   /* for iphones plus   */


   @media only screen and (min-width: 414px) {

    .card-container {
        
        width:330px;
        top:0px
        
        }
        .punch-line-box{
            position:absolute;
            transform: translate(0%,100%);
       
            top:100%;
            width:330px;
            min-width:330px
        }


   }


   /* for ipad min and tablets of that size */

   @media only screen and (min-width: 768px) {

    .punch-line-box{
        position:absolute;
        transform: translate(0%,140%);
   
        top:140%;
        width:450px;
        min-width:450px
    }
    .card-container {
        
        width:450px;
        top:0px
        
        }
        .control-btns{
            left:50%;
            top:56%;
            transform: translate(-50%,60%)scale(0);
            
        
        }

   }
 /* for ipad air and tablets of that size */
   @media only screen and (min-width: 820px) {
    .punch-line-box{
        transform: translate(0%,170%);
   
        top:170%;
        width:550px;
        min-width:550px
    }
    .card-container {
        
        width:550px;
        top:0px
        
        }
    
   }
   /* for laptops */
@media only screen and (min-width: 850px) {
    .perspective-div{
        perspective:1000px;
        position:relative
    }
    
    .card-container {
    transition: 1s;
    position:relative;
    border:rgb(110, 110, 110) solid 10px;
    border-radius: 20px;
    width:380px;
    height:65vh;
    margin:20px auto;
    box-shadow:10px 120px 5px rgba(0, 0, 0, 0.542);
    transform: rotateY(170deg)rotateX(0deg)scale(0.5);
    filter:blur(10);
    background: rgb(72, 73, 72);
    color:rgb(72, 73, 72);
    overflow: hidden;
    
    }
    /* .card-container:hover{
    transition: 0.5s;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.51);
    transform: rotateY(10deg)rotateX(0deg)scale(1);
    border:rgb(8, 254, 123) solid 10px;
    filter:blur(0);
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
    } */
    .control-btns{
        display: flex;
        flex-direction: row;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,60%)scale(0);
        gap:15px;
        transition:0.4s
        
    
    }
    .reveal-btn{
    position: relative;
    border: 3px black solid ;
    border-radius: 100px;
    color:black;
    width:50px;
    height:50px;
    background-color:rgb(109, 109, 109);
    box-shadow:3px 2px 3px black;
    cursor:pointer;
    transition:0.4s;
    background:none;
    user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    
    
    
    }
    .next-joke-btn{
        border: 3px black solid ;
        border-radius: 100px;
        color:black;
        width:50px;
        height:50px;
        background-color:rgb(109, 109, 109);
        box-shadow:3px 2px 3px black ;
        cursor:pointer;
        transition:0.4s;
        background:none;
    
    
    }
    
    .eye-icon{
        position:absolute;
        transform: translate(-50%,-50%);
        top:50%;
    }
    .punch-line-box{
        /* border-top:10px solid black; */
        position:absolute;
        transform: translate(0%,120%);
        background-color: rgb(0, 255, 225);
        height:250px;
        max-height:250px;
        min-height:250px;
        transform: 0.3s;
        opacity:0;
        top:120%;
        width:380px;
        min-width:380px
    }
    .punch-line{
        margin:70px auto;
        padding:10px;
        filter:blur(7px);
        transition:0.5s
    }
    .setup{
        margin:30px auto;
        padding:10px;
        font-size:24px
    
    
    }
}